{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content" role="main">
    <article class="blog-post {{post_class}}">
        <header class="image-header ratio-2-1" {{#if image}}style="background-image: url({{image}})"{{/if}}>
            <h1>{{title}}</h1>
        </header>
        <div class="blog-post-content">
            <div class="blog-post-info">
                <h2 class="blog-post-info-header blog-post-caption">{{date published_at format="MMMM DD, YYYY"}} | <span>{{tags}}</span></h2>
                <a href="http://www.triplet.fi/blog/rss/" class="webicon rss small"></a>
            </div>
            <div class="blog-post-body">                    
                {{content}}
                <a class="back" href="/blog"><img width="32" height="32" src="{{asset "images/back.svg"}}" />Back to the article list</a>
                
                <h5 class="share-caption">Share</h5>
                <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute="true"}}" class="webicon twitter twitter-share"></a>
            </div>
            <div class="blog-post-author">
                <p class="blog-post-author-caption">About Tatu</p>
                <img  class="blog-post-author-image" src="https://triplet-assets.s3.amazonaws.com/blog_author_tatu_tamminen.jpg" alt="Author Tatu Tamminen" />
                <div class="blog-post-author-description">
                    <p class="blog-post-author-description-text">Independent web developer focusing on architecture design, performance &amp; maintainability. Over 10 years of experience on cutting-edge web development. Blogging about tech and freelancing.</p>
                    <div class="online-presence">
                        <a href="https://twitter.com/_Tx3" class="webicon twitter"></a>
                        <a href="https://github.com/ttamminen" class="webicon github"></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <aside class="discuss">
            <a href="https://muut.com/i/triplet/comments/general:{{{id}}}" class="muut" type="dynamic">Comments on {{{title}}}</a>            
        </aside>
    </article>
</main>

{{/post}}

<script src="//cdn.muut.com/1/moot.min.js"></script>
