{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content" role="main">
    <article class="blog-post {{post_class}}">
        <header class="image-header" {{#if image}}style="background-image: url({{image}})"{{/if}}>
            <h1>{{title}}</h1>
        </header>
        <div class="blog-post-content">
            <div class="blog-post-info">
                <h2 class="blog-post-info-header blog-post-caption">{{date published_at format="MMMM DD, YYYY"}} | <span>{{tags}}</span></h2>
            </div>
            <div class="blog-post-body">                    
                {{content}}
            </div>
            <div class="blog-post-share">
                <p class="blog-post-share-caption">Share this post</p>                  
            </div>
        <div>
    </article>
</main>

{{/post}}
