{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="article-highlight narrow {{post_class}}">
    <a href="{{url}}">
        <img class="article-highlight-image" src="{{blogPostMiniImage image}}" alt="{{title}}">

        <div class="highlight-content">
            <h1 class="highlight-heading">{{title}}</h1>
            <p>{{excerpt words="26"}}</p>
        </div>
    </a>
</article>
{{/foreach}}
