{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="article-highlight narrow {{post_class}}">
    <a href="{{url}}">
        <div class="article-highlight-image-crop">
            <img class="article-highlight-image" src="{{image}}" alt="{{title}}">
        </div>
        <div class="highlight-content">
            <h1 class="highlight-heading">{{title}}</h1>
            <p>{{excerpt words="26"}}</p>
        </div>
    </a>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
