{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="article-highlight narrow {{post_class}}">
    <a href="{{url}}">
        <img class="article-highlight-image b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{blogPostMiniImage image}}" alt="{{title}}">

        <div class="highlight-content">
            <h1 class="highlight-heading">{{title}} <span class="highlight-date">{{date published_at format="MMMM DD, YYYY"}}</span></h1>
            <p>{{excerpt words="26"}}</p>
        </div>
    </a>
</article>
{{/foreach}}
